<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>PizzaServletController</display-name>
    <servlet-name>PizzaServletController</servlet-name>
    <servlet-class>com.journaldev.hibernate.controller.PizzaServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PizzaServletController</servlet-name>
    <url-pattern>/PizzaServletController</url-pattern>
  </servlet-mapping>
  <display-name>PIZZERIA_FINAL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServletController</display-name>
    <servlet-name>UserServletController</servlet-name>
    <servlet-class>com.journaldev.hibernate.controller.UserServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletController</servlet-name>
    <url-pattern>/UserServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAndDeletePizzaServletController</display-name>
    <servlet-name>UpdateAndDeletePizzaServletController</servlet-name>
    <servlet-class>com.journaldev.hibernate.controller.UpdateAndDeletePizzaServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAndDeletePizzaServletController</servlet-name>
    <url-pattern>/UpdateAndDeletePizzaServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.journaldev.hibernate.controller.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  
   <resource-ref>
    <description>MyDB</description>
    <res-ref-name>jdbc/MyDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
</web-app>